.additionals {
  margin: 0 auto 10px;
  padding: 28px 20px 0;
  width: 320px;
}

.additionals__title {
  margin: 0;
  padding: 0;
  position: relative;
  font-family: "Oswald Regular", "Helvetica", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;

  &::after {
    content: "";
    position: absolute;
    top: 14px;
    right: -20px;
    width: 53px;
    height: 3px;
    background-color: #68b738;
  }
}

.additionals__additionals-list {
  margin: 0;
  padding: 34px 0 29px;
  list-style: none;
}

.additionals__item {
  padding: 14px 0 17px;
  border-top: 1px solid #cdcdcd;

  &:last-of-type {
    border-bottom: 1px solid #cdcdcd;
  }
}

.additionals__item-title {
  margin: 0 0 13px 0;
  padding-left: 2px;
  font-family: "Oswald Regular", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  color: #000000;
  word-wrap: break-word;
}

.additionals__item-table {
  margin-bottom: 14px;
  width: 100%;
  border-collapse: collapse;
}

.additionals__item-tr {
  display: flex;
  justify-content: space-between;
}

.additionals__item-td {
  padding: 0;
  line-height: 14px;

  &:first-of-type {
    text-align: left;
  }

  &:last-of-type {
    text-align: right;
  }
}

.additionals__button {
  .button();
  padding-bottom: 9px;
  width: 100%;
  font-size: 16px;
  line-height: 20px;
}

@media (min-width: @tablet-width) {
  .additionals {
    margin-bottom: 1px;
    padding: 36px 30px 40px;
    width: 768px;
  }

  .additionals__title {
    margin-bottom: 30px;
    padding-left: 37px;
    font-size: 36px;
    line-height: 36px;

    &::after {
      top: 22px;
      right: -30px;
      width: 327px;
      height: 3px;
      background-color: #68b738;
    }

    &::before {
      content: "";
      position: absolute;
      top: 22px;
      left: -30px;
      width: 28px;
      height: 3px;
      background-color: #68b738;
    }
  }

  .additionals__additionals-list {
    margin: 0 auto;
    padding: 50px 0 29px;
    list-style: none;
  }

  .additionals__item {
    margin-bottom: -1px;
    padding: 26px 36px 27px 37px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #e6e6e6;
  }

  .additionals__item-title {
    margin: 0 0 13px 0;
    font-size: 20px;
    line-height: 20px;
  }

  .additionals__item-table {
    margin: 6px 0 25px auto;
    width: 226px;
    font-size: 16px;
    line-height: 20px;
    border-collapse: collapse;
  }

  .additionals__item-table--water {
    width: 160px;
  }

  .additionals__item-table--milk {
    width: 142px;
  }

  .additionals__item-table--vitamin {
    width: 218px;
  }
}
