.contacts__wrapper {
  .wrapper();
  padding: 28px 20px 26px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #f2f2f2;
}

.contacts__wrapper--index {
  background-color: #ffffff;
}

.contacts__slogan {
  width: 140px;
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
  word-wrap: break-word;
}

.contacts__address {
  padding-left: 1px;
  width: 140px;
  line-height: 20px;
  font-style: normal;
}

.contacts__map {
  position: relative;
  width: 320px;
  height: 362px;
  background-color: #f2f2f2;
  background-image: url("../img/bg-map-mobile@1x.png");
  background-position: 0 -38px;
  background-repeat: no-repeat;
}

.contacts__map-pin {
  position: absolute;
  left: 98px;
  top: 113px;
  width: 124px;
  height: 106px;
  font-size: 0;
  background-image: url("../img/map-pin.png");
  background-repeat: no-repeat;
  transform: scale(0.5);
}
