.copyright {
  width: 100%;
}

.copyright__small {
  margin: 0;
  padding: 16px 20px 25px;
  align-self: stretch;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.copyright__link {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  line-height: 16px;
  color: #444444;
}

.copyright__logo {
  &:hover .copyright__path,
  &:focus .copyright__path {
    fill: #68b738;
  }

  &:active .copyright__path {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width), (min-width: @desktop-width) {
  .copyright {
    max-width: 204px;
    margin: 0 0 0 auto;
  }

  .copyright__small {
    padding: 1px 20px 25px;
  }
}
