.intro__container {
  margin: 0 auto 22px;
  padding-top: 26px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #ffffff;
  background-image: url("../img/index-can-mobile@1x.png"), url("../img/index-background-mobile@1x.jpg"), linear-gradient(#63a73a 0%, #63a73a 305px, #ffffff 305px, #ffffff);
  background-repeat: no-repeat;
  background-position: 50% 166px, 50% 0, 0 0;
  word-wrap: break-word;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/index-can-mobile@2x.png"), url("../img/index-background-mobile@2x.jpg"), linear-gradient(#63a73a 0%, #63a73a 305px, #ffffff 305px, #ffffff);
    background-position: 50% 166px, 50% 0, 0 0;
    background-repeat: no-repeat;
    background-size: 280px 271px, 320px 305px, 100% 320px;
  }
}

.intro__title {
  margin: 0 auto 26px;
  width: 256px;
  font-family: "Oswald Regular", "Helvetica", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
}

.intro__slogan {
  margin: 0 auto 302px;
  width: 280px;
  font-family: "Oswald Regular", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.intro__button {
  margin: 0 20px;
  max-width: 100%;
}

@media (min-width: @tablet-width) {
  .intro__container {
    max-width: 768px;
    margin-bottom: 0;
    padding: 54px 117px 0;
    min-height: 864px;
    background-color: #ffffff;
    background-image: url("../img/index-can-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: 29px 255px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/index-can-tablet@2x.jpg");
      background-position: 29px 255px;
      background-size: 709px 609px;
    }
  }

  .intro__title {
    margin: 0 0 42px 0;
    width: 456px;
    font-size: 60px;
    line-height: 60px;
    color: #000000;
    text-align: left;
  }

  .intro__slogan {
    margin: 0 0 47px 2px;
    width: auto;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    text-align: left;
  }

  .intro__product-image {
    margin: 0 auto;
  }

  .intro__button {
    margin-left: 2px;
    padding: 16px 11px 16px;
    width: 245px;
    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: @desktop-width) {
  .intro {
    margin: 0 auto;
    max-width: 1440px;
    background-color: #ffffff;
    background-image: url("../img/index-can-desktop@1x.png"), url("../img/index-background-desktop@1x.jpg"), linear-gradient(to left, #63a73a 0%, #63a73a 351px, #ffffff 351px, #ffffff 100%);
    background-repeat: no-repeat;
    background-position: 560px 142px, 719px 0, 0 0;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/index-can-desktop@2x.png"), url("../img/index-background-desktop@2x.jpg"), linear-gradient(to left, #63a73a 0%, #63a73a 351px, #ffffff 351px, #ffffff 100%);
      background-repeat: no-repeat;
      background-position: 560px 142px, 719px 0, 0 0;
      background-size: 552px 499px, 720px 696px, 100% 0;
    }
  }

  .intro__container {
    padding: 222px 118px 0 118px;
    max-width: 1300px;
    min-height: 696px;
    background-image: none;
    background-color: transparent;
  }

  .intro__title {
    padding-left: 2px;
  }

  .intro__slogan {
    margin-bottom: 52px;
  }
}
