.page-footer {
  margin: 0 auto;
  max-width: 320px;
  background-color: #f2f2f2;
}

.page-footer__container {
  margin: 0 auto;
  max-width: 320px;
  padding-top: 39px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  background-color: #f2f2f2;
}

.page-footer__title {
  margin: 0 auto 27px;
  width: 280px;
  text-align: center;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

@media (min-width: @tablet-width) {
  .page-footer {
    margin: 0 auto;
    max-width: 768px;
  }

  .page-footer__container {
    padding: 53px 10px 30px 29px;
    max-width: 768px;
    flex-direction: row;
    align-items: flex-start;
  }

  .page-footer__title {
    margin-right: 91px;
    margin-left: 0;
    padding-top: 11px;
    width: 133px;
    border-bottom: none;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    margin: 0 auto;
    max-width: 1440px;
  }

  .page-footer__container {
    padding: 52px 20px 30px 37px;
    max-width: 1300px;
  }

  .page-footer__title {
    margin-right: 221px;
    padding-top: 11px;
  }
}
