.page-header {
  .container();
  padding-top: 13px;
  display: flex;
  flex-direction: column;
}

.page-header__logo {
  margin: 0 0 14px 20px;
}

@media (min-width: @tablet-width) {
  .page-header {
    width: 768px;
    flex-direction: row;
    justify-content: space-between;
  }

  .page-header__logo {
    margin-bottom: 14px;
    margin-left: 20px;
  }
}

/*@media (min-width: @desktop-width) {

}
*/
