.page-footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #f2f2f2;
}

.page-footer__wrapper {
  padding-top: 29px;
  padding-bottom: 25px;
  display: flex;
  flex-wrap: wrap;
  background-color: #ffffff;
}

.page-footer__slogan {
  width: 140px;
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
  word-wrap: break-word;
}

.page-footer__address {
  width: 140px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
  color: #444444;
}

.page-footer__map {
  margin-bottom: 39px;
  position: relative;
  width: 320px;
  height: 362px;
  background-color: #f2f2f2;
  background-image: url("../img/bg-map-mobile@1x.png");
  background-position: 0 -38px;
  background-repeat: no-repeat;
}

.page-footer__map-pin {
  position: absolute;
  left: 98px;
  top: 113px;
  width: 124px;
  height: 106px;
  font-size: 0;
  background-image: url("../img/map-pin.png");
  background-repeat: no-repeat;
  transform: scale(0.5);
}

.page-footer__title {
  padding-bottom: 27px;
  width: 280px;
  text-align: center;
  border-bottom: 1px solid #d9d9d9;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
