.page-footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  outline: 1px solid green;
}

.page-footer__wrapper {
  margin-bottom: 25px;
  display: flex;
  flex-wrap: wrap;
  outline: 1px solid blue;
}

.page-footer__slogan {
  width: 140px;
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
  outline: 1px solid pink;
  word-wrap: break-word;
}

.page-footer__address {
  width: 140px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
  color: #444444;

  outline: 1px solid red;
}
