.page-header {
  /*max-width: 320px;*/
  margin: 0 auto;
  padding-top: 13px;
  display: flex;
  flex-direction: column;
}

.page-header__logo {
  margin: 0 0 14px 20px;
}

@media (min-width: @tablet-width) {
  .page-header {
    padding-bottom: 10px;
    max-width: 768px;
    flex-direction: row;
    justify-content: space-between;
  }

  .page-header__logo {
    margin-bottom: 14px;
    margin-left: 20px;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    padding: 45px 40px;
    position: absolute;
    left: 50%;
    min-width: 1300px;
    background-color: transparent;
    transform: translateX(-50%);
  }
}
