.site-list {
  .list-reset();
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  word-break: break-all;
}

.site-list__item {
  padding: 22px 22px 20px 22px;
  text-align: center;
  border-top: 1px solid #e6e6e6;

  &:last-of-type {
    border-bottom: 1px solid #e6e6e6;
  }
}

.site-list__link {
  font-family: "Oswald Medium", "Helvetica", "Arial", sans-serif;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .site-list {
    margin-right: 30px;
    flex-direction: row;
    justify-content: space-between;
    width: 440px;
  }

  .site-list__item {
    padding: 29px 0 10px;
    border: none;

    &:last-of-type {
      border-bottom: none;
    }
  }

  .site-list__link {
    padding-bottom: 7px;
    font-family: "Oswald Regular", "Helvetica", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
  }

  .site-list__link--current {
    border-bottom: 2px solid #68b738;
  }
}

@media (min-width: @desktop-width) {
  .site-list {
    margin-right: 0;
    justify-content: flex-end;
    width: 570px;
    color: #ffffff;
  }

  .site-list--catalog {
    color: #000000;
  }

  .site-list--form {
    color: #000000;
  }

  .site-list__item {
    margin-left: 33px;
    border: none;

    &:nth-of-type(2) {
      margin-left: 35px;
    }
  }

  .site-list__link {
    padding-bottom: 5px;
    font-family: "Oswald Regular", "Helvetica", "Arial", sans-serif;
    font-size: 20px;
    line-height: 25px;
    color: inherit;
  }

  .site-list__link--current {
    border-bottom: 2px solid #ffffff;
  }

  .page-header--catalog .site-list__link--current {
    border-bottom-color: #68b738;
  }

  .page-header--form .site-list__link--current {
    border-bottom-color: #68b738;
  }
}
