@font-face {
  font-family: "Oswald Medium";
  src: url("../fonts/oswaldmedium.woff2") format("woff2"), url("../fonts/oswaldmedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Oswald Regular";
  src: url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@import "variables.less";
@import "visually-hidden";
@import "button";
@import "page-main";
@import "section-title";
@import "list-reset";
@import "wrapper";
@import "container";
@import "page-header";
@import "logo";
@import "intro";
@import "main-nav";
@import "site-list";
@import "products-categories";
@import "advantages";
@import "contacts";
@import "page-footer";
@import "example";
@import "slider";
@import "social-list";
@import "copyright";
@import "catalog";
@import "form";
@import "additionals";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0;
  min-width: 320px;
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #444444;
}
